<%- include("partials/header") -%>

<h1> Compose </h1>
<form class="" action="/compose" method="post">
  <div class="form-group">
    <div class="mb-3">
      <label for="title" class="form-label">Title</label>
      <input class="form-control" id="title" type="text" name="composeTitle" required>
    </div>
    <div class="mb-3">
      <label for="post" class="form-label"> Post </label>
      <textarea class="form-control" id="post" rows="5" name="composePost" required></textarea>
    </div>
  </div>

  <button class="btn btn-primary " type="submit" name="submitText"> Publish</button>

</form>

<%- include("partials/footer") -%>
